/* ----------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height + whitespace above footer*/
  margin-bottom: 75px;
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* .footer-content {
  margin-top: 20px;
} */

/* Make compatible with fixed-to-top navbar */
body > .container {
  padding: 15px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.footer p {
  margin-bottom: 0;
}

/* ----------------------------------------------- */
/* Nav tab styles
-------------------------------------------------- */

.nav-dash {
  margin-bottom: 15px;
}

.btn-group-vertical {
  margin-top: .5rem;
}

.btn-group-vertical.btn-group-block {
  width: 100%;
}

/* ----------------------------------------------- */
/* Card styles
-------------------------------------------------- */
.card {
  margin-top: 10px;
}

.card .table {
  margin-bottom: 0;
}

.card-header {
  padding-left: .75rem;
  padding-right: .75rem;
}

/* .btn-delete {
  color: #DC3545;
} */

/* ===================== */

.btn-xs {
  font-size: .75rem;
  padding: .2rem .4rem;
}

.btn-xs .oi {
  position: static;
}

.card-sm {
  font-size: 1em;
}

.card-sm .table {
  font-size: .75em;
}

.card-sm .table th,
.card-sm .table td {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.card-sm .card-header {
  padding: .375rem 1rem;
}

/* ----------------------------------------------- */
/* Table styles
-------------------------------------------------- */
.initiative-table td,
.initiative-table th {
  text-align: center;
}

.initiative-table td:first-child,
.initiative-table th:first-child {
  /* padding-left: 0; */
  padding-right: 0;
}

.initiative-dm-table td:nth-child(2),
.initiative-dm-table th:nth-child(2) {
  padding-left: .5rem;
}

.icon-sm {
  font-size: .8rem;
}

.initiative-table td:first-child,
.initiative-table th:first-child,
.initiative-dm-table td:nth-child(2),
.initiative-dm-table th:nth-child(2) {
  text-align: left;
}

.initiative-table td:last-child,
.initiative-table th:last-child {
  text-align: right;
}

/* ----------------------------------------------- */
/* Misc styles
-------------------------------------------------- */
.combat-message {
  margin-bottom: 0;
}

/* ----------------------------------------------- */
/* Badge styles
-------------------------------------------------- */
.badge-ability {
  font-size: 1rem;
}

.effect-badge {
  color: transparent;
  margin-top: 5px;
  margin-right: 10px;
}

.color-picker .row {
  margin-bottom: .75rem;
}

.color-picker .col {
  padding-right: 0;
}

.badge-swatch {
  border: 4px solid;
  border-color: white;
  font-size: 1.2rem;
  margin-right: 0;
}

.badge-swatch:hover {
  border-color: #007BFF;
}

.badge-brown {
  background-color: sienna;
}
.badge-red {
  background-color: red;
}
.badge-orange {
  background-color: darkorange;
}
.badge-yellow {
  background-color: gold;
}
.badge-lightgreen {
  background-color: yellowgreen;
}
.badge-darkgreen {
  background-color: forestgreen;
}
.badge-lightblue {
  background-color: deepskyblue;
}
.badge-darkblue {
  background-color: royalblue;
}
.badge-purple {
  background-color: mediumpurple;
}
.badge-pink {
  background-color: hotpink;
}

.badge-disabled {
  top: 8px;
  left: 3px;
  font-size: 1.1rem;
  color: black;
  border-radius: 10rem;
}
