---
layout: default
title: Home
---

<div class="container">
    {% include alert-waiting.html %}

    <div class="row">
      <div class="col">
        <h2>Player 3 <span class="float-right">8 (+1)</span></h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <nav>
          <div class="nav nav-tabs nav-dash" id="nav-tab" role="tablist">
            <p class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-combattable"><span class="oi oi-home"></span></p>
            <p class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-effects"><span class="oi oi-loop-square"></span></p>
            <p class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-info"><span class="oi oi-person"></span></p>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-combattable">
            {% include combatordertable.html %}
          </div>
          <div class="tab-pane fade" id="nav-effects">
            {% include ongoingeffects-player.html %}
          </div>
          <div class="tab-pane fade" id="nav-info">
            {% include editinfoform.html %}
          </div>
        </div>
      </div>
    </div>

  </div>
