<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Initiative</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Player 1</td>
      <td>21 (+2)</td>
    </tr>
    <tr>
      <td>Monster 1</td>
      <td>17 (0)</td>
    </tr>
    <tr>
      <td>Player 2</td>
      <td>12 (-1)</td>
    </tr>
    <tr class="table-success">
      <td>Player 3</td>
      <td>8 (+1)</td>
    </tr>
    <tr>
      <td>Monster 2</td>
      <td>5 (+2)</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-outline-secondary btn-block">Finish Turn</button>
