<table class="table initiative-table initiative-table-empty">
  <thead>
    <tr>
      <th>Name</th>
      <th>Effects</th>
      <th>Init</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3" class="text-muted font-italic">Waiting for initiative rolls</td>
    </tr>
  </tbody>
</table>

<div class="btn-group-vertical btn-group-block">
  <button class="btn btn-outline-secondary btn-block" data-toggle="button" disabled>Use My Reaction <span class="oi oi-lock-locked"></span></button>
  <button class="btn btn-outline-secondary btn-block" disabled>Finish Turn</button>
</div>
