<table class="table initiative-table initiative-dm-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Effects</th>
      <th>Init</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-success">
      <td><span class="oi oi-menu icon-sm"></span></td>
      <td>Player 1</td>
      <td><span class="badge badge-pill badge-primary badge-purple effect-badge">.</span></td>
      <td>21 (+2)</td>
    </tr>
    <tr>
      <td><span class="oi oi-menu icon-sm"></span></td>
      <td>Monster 1</td>
      <td></td>
      <td>17 (0)</td>
    </tr>
    <tr>
      <td><span class="oi oi-menu icon-sm"></span></td>
      <td>Player 2</td>
      <td><span class="badge badge-pill badge-primary badge-purple effect-badge">.</span><span class="badge badge-pill badge-success badge-red effect-badge">.</span></td>
      <td>12 (-1)</td>
    </tr>
    <tr>
      <td><span class="oi oi-menu icon-sm"></span></td>
      <td>Player 3</td>
      <td><span class="badge badge-pill badge-primary badge-purple effect-badge">.</span></td>
      <td>8 (+1)</td>
    </tr>
    <tr>
      <td><span class="oi oi-menu icon-sm"></span></td>
      <td>Monster 2</td>
      <td></td>
      <td>5 (+2)</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-outline-secondary btn-block">Finish Turn</button>
