<table class="table initiative-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Effects</th>
      <th>Init</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-success">
      <td>Player 1</td>
      <td><span class="badge badge-pill badge-primary badge-purple effect-badge">.</span></td>
      <td>21 (+2)</td>
    </tr>
    <tr>
      <td>Monster 1</td>
      <td></td>
      <td>17 (0)</td>
    </tr>
    <tr>
      <td>Player 2</td>
      <td><span class="badge badge-pill badge-primary badge-purple effect-badge">.</span><span class="badge badge-pill badge-success badge-red effect-badge">.</span></td>
      <td>12 (-1)</td>
    </tr>
    <tr>
      <td>Player 3</td>
      <td><span class="badge badge-pill badge-primary badge-purple effect-badge">.</span></td>
      <td>8 (+1)</td>
    </tr>
    <tr>
      <td>Monster 2</td>
      <td></td>
      <td>5 (+2)</td>
    </tr>
  </tbody>
</table>

<div class="btn-group-vertical btn-group-block">
  <button class="btn btn-outline-secondary btn-block" data-toggle="button" disabled>Use My Reaction <span class="oi oi-lock-locked"></span></button>
  <button class="btn btn-outline-secondary btn-block" disabled>Finish Turn</button>
</div>
