<div class="card card">
  <h5 class="card-header">
    <span class="badge badge-pill badge-primary badge-purple effect-badge">.</span>
    Confusion
    <button class="btn btn-light btn-sm btn-delete float-right"><span class="oi oi-x"></span></button>
  </h5>
  <table class="table card-body">
    <tbody>
      <tr>
        <td><em>Player 1</em></td>
        <td><span class="badge badge-secondary badge-ability">WIS</span></td>
        <td><em>4 rounds left</em></td>
      </tr>
    </tbody>
  </table>
</div>
