<div class="card card-sm">
  <div class="card-header">
    <span class="badge badge-pill badge-primary effect-badge">.</span>
    Confusion
    <button class="btn btn-outline-danger btn-xs float-right"><span class="oi oi-x"></span></button>
  </div>
  <table class="table card-body">
    <thead>
      <thr>
        <th>Target</th>
        <th>Source</th>
        <th>Save</th>
      </thr>
    </thead>
    <tbody>
      <tr>
        <td>Player 1</td>
        <td>Monster 2</td>
        <td>Wisdom</td>
      </tr>
    </tbody>
  </table>
</div>
