<h3 class="section-header">Enemies<button class="btn btn-outline-success float-right" data-toggle="modal" data-target="#addEnemy"><span class="oi oi-plus"></span></button></h3>
<!-- <button type="button" class="btn btn-outline-secondary btn-lg btn-block" data-toggle="modal" data-target="#addEnemy">Add Enemy</button>-->
<!-- <hr> -->

<div class="card enemy-card">
  <table class="table card-body">
    <tbody>
      <tr>
        <td>Monster 1</td>
        <td>17 (+0)</td>
        <td><button class="btn btn-light btn-xs"><span class="oi oi-x"></span></button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card enemy-card">
  <table class="table card-body">
    <tbody>
      <tr>
        <td>Monster 2</td>
        <td>5 (+2)</td>
        <td><button class="btn btn-light btn-xs"><span class="oi oi-x"></span></button></td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<h3 class="section-header">Players<button class="btn btn-outline-success float-right" data-toggle="modal" data-target="#addPlayer"><span class="oi oi-plus"></span></button></h3>

<div class="card player-card">
  <table class="table card-body">
    <tbody>
      <tr>
        <td>Player 1</td>
        <td>21 (+2)</td>
        <td><button class="btn btn-light btn-xs"><span class="oi oi-x"></span></button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card player-card">
  <table class="table card-body">
    <tbody>
      <tr>
        <td>Player 2</td>
        <td>12 (-1)</td>
        <td><button class="btn btn-light btn-xs"><span class="oi oi-x"></span></button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card player-card">
  <table class="table card-body">
    <tbody>
      <tr>
        <td>Player 3</td>
        <td>8 (+1)</td>
        <td><button class="btn btn-light btn-xs"><span class="oi oi-x"></span></button></td>
      </tr>
    </tbody>
  </table>
</div>

{% include addenemymodal.html %}
