<footer class="footer">
  <div class="container footer-content">
      <p class="text-muted">
        <!-- <span class="copyright">&copy;</span> 2018 Tanya Murrow -->
        <a href="{{site.github.url}}/index.html" class="btn btn-sm btn-outline-secondary">Enter</a>
        <a href="{{site.github.url}}/startcombat.html" class="btn btn-sm btn-outline-secondary">Start Init</a>
        <a href="{{site.github.url}}/p1view.html" class="btn btn-sm btn-outline-secondary">P1</a>
        <a href="{{site.github.url}}/p2view.html" class="btn btn-sm btn-outline-secondary">P2</a>
        <a href="{{site.github.url}}/p3view.html" class="btn btn-sm btn-outline-secondary">P3</a>
        <a href="{{site.github.url}}/dm-view.html" class="btn btn-sm btn-outline-secondary">DM</a>
      </p>
    </div>
</footer>
