<!-- <h3 class="text-center">Ongoing Effects</h3> -->
<button type="button" class="btn btn-outline-secondary btn-lg btn-block" data-toggle="modal" data-target="#addEffect">Add Effect</button>
<hr>

{% include effect-dm.html %}

<div class="card card">
  <h5 class="card-header">
    <span class="badge badge-pill badge-primary badge-red effect-badge">.</span>
    Enlarge
    <button class="btn btn-light btn-sm btn-delete float-right"><span class="oi oi-x"></span></button>
  </h5>
  <table class="table card-body">
    <tbody>
      <tr>
        <td><em>Player 2</em></td>
        <td><span class="badge badge-secondary badge-ability">CON</span></td>
        <td><em>1 round left</em></td>
      </tr>
    </tbody>
  </table>
</div>


{% include addeffectmodal-dm.html %}
